.container{
    height:calc(100vh - 100px);
    background-color: aliceblue;
    overflow:hidden;
}

/*was having a problem to have the right arrow to shop up but I put the z-index and it works */
.arrowContainer {
    position:absolute;
    width: 4%;
    height: 4%;
    top: 0;
    bottom: 240px; 
    cursor: pointer;
    margin: auto;
    z-index: 2;
    
}

.arrowContainer:hover{
    transform: scale(2);
}

/*picture for the slide*/
.wrapper{
    width:299vw;
    height: 200%;
    display:flex;
    transition: all 1s ease-in-out ;
}

.imgContainer{
    width: 500vw;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }
  }

