.container{
    height:calc(100vh - 100px);
    background-color: aliceblue;
    overflow:hidden;
}

/*was having a problem to have the right arrow to shop up but I put the z-index and it works */
.arrowContainer {
    position:absolute;
    width: 5%;
    height: 10%;
    top: 0;
    bottom: 0px; 
    cursor: pointer;
    margin: auto;
    z-index: 2;
}
/*picture for the slide*/
.wrapper{
    width:299vw;
    height: 100%;
    display:flex;
    transition: all 1s ease-in-out ;
}

.imgContainer{
    width: 500vw;
    height: 500px;
    position: relative;
}