.container{
    height: calc(100vh - 100px); 
    background-color: darkgrey;
    display:flex;

}
/* the whoele picture and info*/
.item{
    flex:1;
    position: relative;
}



.card{
    flex: 1;
    padding: 0 20x;

}

.title{
    font-size: 18px;
    color: brown;
 
}

.text{
    color: black;

}

.motto{
    font-size: 20px;
}

.title {
    font-size: 30px;
  }
