.container {
    width: 30%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 250px);
  }


  .title {
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
  }


